﻿@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankAccount.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccount.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionType.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionType.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deposit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deposit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Withdrawal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Withdrawal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
