﻿@*CHANGELOG:
[2017-09-25] Hides TransactionNumber field from form*@

@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.Transaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.TransactionId)

        @*<div class="editor-label">
            @Html.LabelFor(model => model.TransactionNumber)
        </div>*@
        <div class="editor-field">
            @Html.HiddenFor(model => model.TransactionNumber)
            @Html.ValidationMessageFor(model => model.TransactionNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankAccountId, "BankAccount")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BankAccountId", String.Empty)
            @Html.ValidationMessageFor(model => model.BankAccountId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionTypeId, "TransactionType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransactionTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TransactionTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deposit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deposit)
            @Html.ValidationMessageFor(model => model.Deposit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Withdrawal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Withdrawal)
            @Html.ValidationMessageFor(model => model.Withdrawal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
