﻿@*NOTE: This page has been modified to change its content.*@

@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>204.632.3237</span>
    </p>
    <p>
        <span class="label">Toll Free:</span>
        <span>1.800.903.7707</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:ctibule@academic.rrc.ca">ctibule@academic.rrc.ca</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:ctibule@academic.rrc.ca">ctibule@academic.rrc.ca</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        160 Princess Street<br />
        Winnipeg, MB R3B 1K9
    </p>
</section>