﻿@*CHANGELOG
[2017-09-23] Removed Action Links at the bottom*@

@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.NextTransactionNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NextTransactionNumber</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NextAvailableNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NextAvailableNumber)
    </div>
</fieldset>