﻿@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.MortgageAccount

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MortgageAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MortgageRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MortgageRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amortizaton)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amortizaton)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountState.AccountStateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountState.AccountStateId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpeningBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpeningBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
