﻿@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.GoldState

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GoldState</legend>

        @Html.HiddenFor(model => model.AccountStateId)

        <div class="editor-label">
            @Html.LabelFor(model => model.LowerLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowerLimit)
            @Html.ValidationMessageFor(model => model.LowerLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpperLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpperLimit)
            @Html.ValidationMessageFor(model => model.UpperLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rate)
            @Html.ValidationMessageFor(model => model.Rate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
