﻿@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.GoldState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GoldState</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LowerLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LowerLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpperLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpperLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AccountStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
