﻿@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.RFIDTag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RFIDTag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CardNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CardNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.FirstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RFIDTagId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
