﻿@*CHANGELOG
[2017-09-24] Modified to show full name instead of first name*@

@model IEnumerable<BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.RFIDTag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RFIDTagId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RFIDTagId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RFIDTagId })
        </td>
    </tr>
}

</table>
