﻿@*CHANGELOG
[2017-09-23] Removed action links located at the bottom of this file.*@

@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.NextMortgageAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NextMortgageAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NextAvailableNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NextAvailableNumber)
    </div>
</fieldset>