﻿@*
NOTES:
[4 Sept. 2017] Modified to show FullName and AccountState Description
*@

@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.SavingsAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SavingsAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SavingsServiceCharges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SavingsServiceCharges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountState.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountState.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpeningBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpeningBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BankAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
