﻿@*CHANGELOGS:
[2017-09-25] Modified to remove data entry for account number*@

@model BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.ChequingAccount

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChequingAccount</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChequingServiceCharges)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChequingServiceCharges)
            @Html.ValidationMessageFor(model => model.ChequingServiceCharges)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientId, "Client")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountStateId, "AccountState")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccountStateId", String.Empty)
            @Html.ValidationMessageFor(model => model.AccountStateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Balance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Balance)
            @Html.ValidationMessageFor(model => model.Balance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpeningBalance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpeningBalance)
            @Html.ValidationMessageFor(model => model.OpeningBalance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
