﻿@* 
NOTE:
[4 Sept. 2017] - Modified to remove and rearrange some columns according to specification.
*@

@model IEnumerable<BankOfBIT_CarlTibule.Models.BankOfBIT_CarlTibule.Models.ChequingAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountState.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequingServiceCharges)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountState.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequingServiceCharges)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankAccountId })
        </td>
    </tr>
}

</table>
