﻿<%--CHANGELOG
[2017-10-01] Modified content as per A2M1 instructions @ p.2-3--%>

<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
    </h2>
    <p>
        This Web Application allows for basic Online Banking functions for clients of the Bank of BIT.
    </p>
</asp:Content>
